:root {
    --blue-logo: #11AEE0;
    --darker-blue-logo: #0c6f8d;
    --white-text:#d0d0d0;
    --white-primary: #e5e5e5;
    --black-primary: #252525;
    --gray-subtitle: #e2e2e2;
    --dark-gray: #C4C4C4;
    --gray-border: #CCCCCC;
    --darker--gray: #494949;
    --text-ct: #919191;
    --text-ct-ph: #707070;
    --text-ct-fc: #e5e5e5;
    --shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
    --shadow-inset: 0 0 8px #000000 inset;
}