<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/img/logo.png">
    <title>Mairon Romero - Portfolio</title>
</head>

<body>
    <article class="page">
        <!--Inicio del header de la pagina-->
        <div class="page__header">
            <header class="header" > 
                <img class="logo header__logo" src="../static/img/logo.png" alt="logo de la pagina"> 
                <nav>
                    <ul id="navbar" class="list header__list">
                        <li><a class="list__link" href="#welcome-section">HOME</a></li>
                        <li><a class="list__link" href="#projects">PROJECTS</a></li>
                        <li><a class="list__link" href="#about">ABOUT ME</a></li>
                        <li><a class="list__link" href="#contact">CONTACT</a></li>
                    </ul>
                    <div class="dropdown">
                        <button class="dropdown__button">|||</button>
                        <ul class="dropdown__content">
                            <li><a class="dropdown__link" href="#welcome-section">HOME</a></li>
                            <li><a class="dropdown__link" href="#projects">PROJECTS</a></li>
                            <li><a class="dropdown__link" href="#about">ABOUT ME</a></li>
                            <li><a class="dropdown__link" href="#contact">CONTACT</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
        <!--Final del header de la pagina-->

        <!--Inicio contenido principal-->
        <main class="main">
            <!-- Inicio seccion home --> 
            <section id="welcome-section" class="home">
                <div class="home__inner">
                    <aside class="social home__social">
                        <ul class="social__links">
                            <li><a id="profile-link" href="#"><img class="social__img" src="../static/svg/linkedin.svg" alt="linkedin-logo"></a></li>
                            <li><a id="profile-link" href="#"><img class="social__img" src="../static/svg/GitHub.svg" alt="GitHub-logo"></a></li>
                        </ul>
                    </aside>
                    <div class="greeting home__greeting">
                        <h1 class="greeting__big"><span class="t-w">Hi, i am</span> <span class="b-b">M</span><span class="t-b">airon</span> <span class="b-b">R</span><span class="t-b">omero</span></h1>
                        <div class="slogans greeting__slogans">
                            <p class="slogans__1">Self-taught web developer.</p>
                            <hr>
                            <p class="slogans__2">Mastering one pixel at a time.</p>
                        </div>
                    </div>
                    <img class="big-logo" src="../static/img/logo.png" alt="logo">
                </div>
            </section> 
            <!-- final seccion home --> 

            <!-- Inicio seccion proyectos-->
            
            <section class="projects">
            <div id="projects">.</div>
                <!--inicio subtitulo de seccion--proyectos-->
                <header class="subtitle projects__subtitle">
                    <div class="subtitle__inner">
                        <h2 class="subtitle__name">Projects</h2>
                    </div>
                </header>
                <!--final subtitulo de seccion--proyectos-->

                <!--Inicio de proyecto 1-->
                <section class="prj project-tile">
                    <header class="prj__header"><h3>Projects title 1</h3></header>
                    <hr class="prj__line">
                    <div class="prj__inner">
                        <a class="prj__link" href="#">
                            <div class="prj__go">Go to link</div>
                            <div class="responsive prj__responsive">
                                <img class="responsive__pc" src="../static/img/pc-p1.png" alt="pc-responsive">
                                <img class="responsive__tablet" src="../static/img/tablet-p1.png" alt="tablet-responsive">
                                <img class="responsive__phone" src="../static/img/phone-p1.png" alt="phone-responsive">
                            </div>
                        </a>
                        <div class="description">
                            <p class="description__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac gravida tortor, ut gravida magna.</p>
                            <p class="description__made">Made with</p>
                            <div class="description__tool-list">
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/html-logo.svg" alt="HTML5-logo">
                                    <p class="description__tool-name">HTML</p>
                                </div>
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/css3-logo.svg" alt="CSS3-logo">
                                    <p class="description__tool-name">CSS3</p>
                                </div>
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/python-logo.svg" alt="Python-logo">
                                    <p class="description__tool-name">Python</p>
                                </div>
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/flask-logo.svg" alt="Flask-logo">
                                    <p class="description__tool-name">Flask</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr class="prj__line--longer">
                <!--final proyecto 1-->

                <!--Inicio de proyecto 2-->
                <section class="prj project-tile">
                    <header class="prj__header"><h3>Projects title 2</h3></header>
                    <hr class="prj__line">
                    <div class="prj__inner">
                        <a class="prj__link" href="#">
                            <div class="prj__go">Go to link</div>
                            <div class="responsive prj__responsive">
                                <img class="responsive__pc" src="../static/img/pc-p2.png" alt="pc-responsive">
                                <img class="responsive__tablet" src="../static/img/tablet-p2.png" alt="tablet-responsive">
                                <img class="responsive__phone" src="../static/img/phone-p2.png" alt="phone-responsive">
                            </div>
                        </a>
                        <div class="description">
                            <p class="description__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac gravida tortor, ut gravida magna.</p>
                            <p class="description__made">Made with</p>
                            <div class="description__tool-list">
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/html-logo.svg" alt="HTML5-logo">
                                    <p class="description__tool-name">HTML</p>
                                </div>
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/css3-logo.svg" alt="CSS3-logo">
                                    <p class="description__tool-name">CSS3</p>
                                </div>
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/python-logo.svg" alt="Python-logo">
                                    <p class="description__tool-name">Python</p>
                                </div>
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/flask-logo.svg" alt="Flask-logo">
                                    <p class="description__tool-name">Flask</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr class="prj__line--longer">
                <!--final proyecto 2-->

                <!--Inicio de proyecto 3-->
                <section class="prj project-tile">
                    <header class="prj__header"><h3>Projects title 3</h3></header>
                    <hr class="prj__line">
                    <div class="prj__inner">
                        <a class="prj__link" href="#">
                            <div class="prj__go">Go to link</div>
                            <div class="responsive prj__responsive">
                                <img class="responsive__pc" src="../static/img/pc-p3.png" alt="pc-responsive">
                                <img class="responsive__tablet" src="../static/img/tablet-p3.png" alt="tablet-responsive">
                                <img class="responsive__phone" src="../static/img/phone-p3.png" alt="phone-responsive">
                            </div>
                        </a>
                        <div class="description">
                            <p class="description__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac gravida tortor, ut gravida magna.</p>
                            <p class="description__made">Made with</p>
                            <div class="description__tool-list">
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/html-logo.svg" alt="HTML5-logo">
                                    <p class="description__tool-name">HTML</p>
                                </div>
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/css3-logo.svg" alt="CSS3-logo">
                                    <p class="description__tool-name">CSS3</p>
                                </div>
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/python-logo.svg" alt="Python-logo">
                                    <p class="description__tool-name">Python</p>
                                </div>
                                <div class="description__box-img">
                                    <img class="description__img" src="../static/svg/flask-logo.svg" alt="Flask-logo">
                                    <p class="description__tool-name">Flask</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr class="prj__line--longer">
                <!--final proyecto 3-->
            </section>
            <!--final de seccion proyectos-->

            <!--inicio de secccion sobre mi-->
            <section class="about">
            <div id="about">.</div>
                <section class="about__inner">
                    <!--inicio subtitulo-->
                    <header class="subtitle about__subtitle">
                        <div class="subtitle__inner">
                            <h2 class="subtitle__name">About me</h2>
                        </div>
                    </header>
                    <!--final subtitulo-->

                    <!--inicio descripcion-->
                    <p class="about__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac gravida tortor, ut gravida magna. Aenean eget sem luctus, pellentesque augue sit amet, malesuada velit. 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac gravida tortor, ut gravida magna. Aenean eget sem luctus, pellentesque augue sit amet, malesuada velit.
                    </p>
                    <!--final descripcion-->
                </section>
                <section class="intr">
                    <div class="intr__fast">
                        <img class="intr__design" src="../static/svg/fast.svg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita perferendis atque accusantium doloribus aspernatur corrupti id incidunt beatae assumenda recusandae omnis, saepe ab est aut ullam sit amet veniam! Eligendi!</p>
                    </div>
                    <div class="intr__responsive">
                        <img class="intr__design" src="../static/svg/responsive.svg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita perferendis atque accusantium doloribus aspernatur corrupti id incidunt beatae assumenda recusandae omnis, saepe ab est aut ullam sit amet veniam! Eligendi!</p>
                    </div>
                    <div class="intr__study">
                        <img class="intr__design" src="../static/svg/study.svg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita perferendis atque accusantium doloribus aspernatur corrupti id incidunt beatae assumenda recusandae omnis, saepe ab est aut ullam sit amet veniam! Eligendi!</p>
                    </div>
                </section>

                <section class="skills">
                    <header class="skills__header"><h3>My skills</h3></header>
                    <hr class="skills__line">
                    <div class="skills__inner">
                        <div class="skills__style">
                            <img src="../static/svg/figma-logo.svg" alt="logo-Figma">
                        </div>
                        <div class="skills__style">
                            <img src="../static/svg/html-logo.svg" alt="logo-HTML">
                        </div>
                        <div class="skills__style">
                            <img src="../static/svg/css3-logo.svg" alt="logo-CSS3">
                        </div>
                        <div class="skills__style">
                            <img src="../static/svg/Sass-logo.svg" alt="logo-SASS">
                        </div>
                        <div class="skills__style">
                            <img src="../static/svg/LESS-Logo.svg" alt="logo-LESS">
                        </div>
                        <div class="skills__style">
                            <img src="../static/svg/boostrap-logo.svg" alt="logo-Boostrap">
                        </div>
                        <div class="skills__style">
                            <img src="../static/svg/python-logo.svg" alt="logo-Python">
                        </div>
                        <div class="skills__style">
                            <img src="../static/svg/flask-logo.svg" alt="logo-Flask">
                        </div>
                    </div>
                </section>
            </section>
            <!--final seccion sobre mi-->

            <!--inicio seccion contactos-->
            <section class="contact">
            <div id="contact">.</div>
                <header class="subtitle contact__subtitle">
                    <div class="subtitle__inner">
                        <h2 class="subtitle__name">Contact</h2>
                    </div>
                </header>
                    <form action="" class="form contact__form">
                        <section>
                            <input class="form__input" type="text" name="name" placeholder="Name" required>
                        </section>
                        <section>
                            <input class="form__input" type="text" name="asunto" placeholder="Subject" required>
                        </section>
                        <section>
                            <input class="form__input" type="email" name="name" placeholder="Email" required>
                        </section>
                        <section>
                            <textarea class="form__textarea--mod" name="mensaje" id="MENSAJE" placeholder="Message" cols="30" rows="10" required></textarea>
                        </section>
                        <section>
                            <button type="submit" class="form__submit">Submit</button>
                        </section>
                    </form>
            </section>
            <!--final seccion contactos-->
        </main>
        <!--final del contenido principal-->
        <!--inicio del footer-->
        <footer class="footer">
            <div class="footer__bg">
                <div class="footer__bg2">
                    <div class="footer__inner">
                        <div class="footer__left">
                            <p class="footer__left-txt">Email xxxxxxxxxxxxxxxxx.com</p>
                            <p class="footer__left-txt">© Made by Mairon Romero</p>
                        </div>
                        <div class="icons">
                            <img class="icons__img" src="../static/svg/linkedin.svg" alt="linkedin-logo">
                            <img class="icons__img" src="../static/svg/GitHub.svg" alt="GitHub-logo">
                        </div>
                        <div class="footer__right">
                            <a class="footer__link" href="#">Projects</a>
                            <a class="footer__link" href="#">About me</a>
                            <a class="footer__link" href="#">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--final del footer-->
    </article>
</body>

</html>